<!-- Partial for header -->

<nav class="header">
  <div class="header-left">
    <div class="header-logo"><a href="/">Community Finder</a></div>
    <% if (isLoggedIn) {%>
      <div class="header-groups"><a href="/user/groups">Groups</a></div>
      <div class="header-events"><a href="/user/events">Events</a></div>
      <div class="header-find_groups"><a href="groups/find">Find Groups</a></div>
      <%}%>
  </div>
  <div class="header-right">
    <% if (isLoggedIn) {%>
      <div class="header-profile"></div>
      <div class="header-settings">
        <div class="dropdown">
          <button onclick="dropdown_funktion()" class="dropbtn"><i class="fa-solid fa-gear"></i></button>
          <div id="mydropdown" class="dropdown-content">
            <a href="something">logout</a>
          </div>
        </div>
      </div>
      <a href="/login/logout">Logout</a>
      <%} else {%>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <%} %>

  </div>
</nav>