<div class="redirect-container">
    <div class="redirect-popup">
        <div class="redirect-icon-container"><i class="fa-solid fa-circle-exclamation"></i></div>
        <div class="redirect-title-container"><span class="redirect-access-text">Access failed</span>&nbsp;- You are not logged in</div>
        <div class="redirect-anchor-container"><a href="/login" class="redirect-anchor">Log in please</a></div>
    </div> 
</div>