<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Finder</title>

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/group.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/interests.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/404.css">
    <link rel="stylesheet" href="/stylesheets/publicUser.css">
    <link rel="stylesheet" href="/stylesheets/userEvents.css">
    <link rel="stylesheet" href="/stylesheets/settings.css">
    <link rel="stylesheet" href="/stylesheets/discover.css">
    <link rel="stylesheet" href="/stylesheets/discoverGroup.css">
    <link rel="stylesheet" href="/stylesheets/signinRedirect.css">
    <link rel="stylesheet" href="/stylesheets/groupEvents.css">
    <link rel="stylesheet" href="/stylesheets/createEventModal.css">
    <link rel="stylesheet" href="/stylesheets/errorPage.css">

    <script src="https://kit.fontawesome.com/86cff0f4ad.js" crossorigin="anonymous"></script> <!-- Icons -->  
</head>
<body>
    <%- body %>
</body>
</html>