<h1>404 - Page Not Found
</h1>
<p>The page you are looking for does not exist.
</p>

<div class="error-container">
    <% if (locals.req) { %>
        <a class="back-link" href="javascript:history.back()">Go back to previous page</a>
    <% } %>
    <img class="error-image" src="/img/pipa-cat-pipa.gif" alt="404 Error Image">
    <p class="error-text">Why are you here?</p>
</div>

