<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
    <a href="/login">Log in please</a>
    <% } else { %>
        <% group.forEach(group => { %>
            <div>hej</div>
        <%});%>
        


    <%} %>