<div class="errorPage-main"> 
    <div class="errorPage-container">
        <i class="fa-solid fa-face-frown errorPage-sadge"></i>
        <h1>Oops! Something went wrong</h1>
        <h3>Error Message: "<%= errorMessage%>"</h3>
        <a class="errorPage-return-anchor" href="javascript:history.back()">PREVIOUS PAGE</a>
    </div>  
</div>

