<%- include("./partials/header.ejs") %>

<div class="groups-container">
  
    <% groups.forEach(group => { %>
    <div class="group-div">
      <a href="./groups/<%=group._id%>" class="group-anchor"><div class="group-anchor-div"><%= group.groupName %></div></a>
    </div>
    <%})%>
  
<div>


<!-- Rettelser

  1. Routing gik før til "user/user/groups/groupID" fra /groups siden af - Det er blevet fikset til at være lig startsiden groups så "user/groups/groupID"
  2. Ændrede i css for groups således det burde gøre brug af flex wrapping og tillader op til 4 divs på hver række - OBS er ikke blevet testet med flere end 2 grupper

-->

<!-- Forslag

  1. Vi skal have ændret i hvordan vores link til gruppen fungerer. Det virker helt dumt den måde det er lavet på nu i forhold til div element

-->
