<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
<a href="/login">Log in please</a>
<% } else { %>

<div class="homepage">
  <div class="homepage-groups-container">
    <% for (let i = 0; i < groups.length; i++) {%>
    <a href="/user/groups/<%=groups[i]._id%>" class="homepage-group">
      <div class="homepage-group-image-container">
        <img src="/img/<%=groups[i].interest%>.jpeg" alt="" class="homepage-group-image" />
      </div>
      <div class="homepage-group-info">
        <div class="homepage-group-name"><%= groups[i].groupName%></div>
        <div class="homepage-group-message">Hej hvordan går det med jer her på sådan her en god skøn dag?</div>
      </div>
    </a>

    <%} %>
  </div>
  <div class="homepage-events-container"></div>
  <div class="homepage-discover-container"></div>
</div>
<%} %>
