<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div>Welcome to this page</div>
    <a href="/users/65e03e4f361d8c19ff395a8f">See the best user</a><br>
    <a href="/users">See all the users</a>
</body>
</html>