<%- include("./partials/header.ejs") %>

  <div class="interestsPage">

    <div class="interestsPageLeft">
      <div class="interestsSearch">
        <input class="interestsSearchInput" type="text" name="interestsSearch" placeholder="Search Interests">
      </div>
      <div class="interestsContainer">
        <% for (let i=0; i < allInterests.length; i++) { %>
          <div class="specificInterest <%if (user.interests.includes(allInterests[i].hobby)) {%>
            <%="selected"%>
            <% } %>">
              <%= allInterests[i].hobby %>
          </div>

          <% } %>
      </div>
    </div>
    <div class="interestsPageRight">
      <div class="interestsPageRightWrapper">
        <% for (let i=0; i < user.interests.length; i++) { %>
          <div class="specificSelectedInterest">
            <%= user.interests[i] %>
          </div>
          <% } %>
      </div>

    </div>
  </div>