<%- include("./partials/header.ejs") %>
<% if (isLoggedIn) {%>
  <div>You are already logged in</div>
<% } else { %>
<div class="login-container">
  <form action="/login" method="post">
    <label for="username"><b>Username</b></label>
    <input class="login-input" id="login-username" type="text" placeholder="Enter Username" name="username" required>
    <label for="psw"><b>Password</b></label>
    <input class="login-input" type="password" placeholder="Enter Password" name="psw" required>
    <button class="login-button" type="submit">Login</button>
    <label>
      <input class="login-checkbox" type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <caption><br>Don't have an account: <a href="/register">Sign Up</a></caption>
  </form></div>
 <%} %>

