<%- include("./partials/header.ejs") %> 
<% if (isLoggedIn) {%>
<div>You are already logged in</div>
<% } else { %>
<div class="register-container">
  <form action="/register" method="post">
    <label for="firstName"><b>First Name</b></label>
    <input class="register-input" type="text" placeholder="Enter First Name" name="firstName" required />


    <label for="lastName"><b>Last Name</b></label>
    <input class="register-input" type="text" placeholder="Enter Last Name" name="lastName" required />

    <label for="username"><b>Username</b></label>
    <input class="register-input" type="text" placeholder="Enter Username" name="username" required />

    <label for="email"><b>Gender</b></label>
    <select name="gender" class="register-input" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <label for="password"><b>Password</b></label>
    <input class="register-input" type="password" placeholder="Enter Password" name="password" required />

    <label for="confirmedPassword"><b>Confirm Password</b></label>
    <input class="register-input" type="password" placeholder="Confirm Password" name="confirmedPassword" required />

  <button class="register-button" type="submit">Register</button>
    <caption><br>Already have an account?: <a href="/login">Sign In Here</a></caption>
  </form>
</div>
<%} %>
