<%- include("./partials/header.ejs") %>
<div class="register-container">
    <label for="uname"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="firstname" required>
    <label for="uname"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="lastname" required>
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="psw" required>

    <button type="submit">Register</button>
</div>
