<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%> <%-
include("./partials/signinRedirect.ejs")%> <% } else { %>
<main class="main-container">
  <div class="calendarMonth-container">
    <i class="fa-solid fa-caret-left changeDateButton" id="scaleDownMonth"></i>
    <h2 class="calendarMonth-title"></h2>
    <i class="fa-solid fa-caret-right changeDateButton" id="scaleUpMonth"></i>
  </div>

  <div class="calendarContent-container">
    <div class="calendarContent-header">
      <div class="calendarContent-header-item">Mandag</div>
      <div class="calendarContent-header-item">Tirsdag</div>
      <div class="calendarContent-header-item">Onsdag</div>
      <div class="calendarContent-header-item">Torsdag</div>
      <div class="calendarContent-header-item">Fredag</div>
      <div class="calendarContent-header-item">Lørdag</div>
      <div class="calendarContent-header-item">Søndag</div>
    </div>
    <div class="calendarContent-body">  <!-- Content is generated in js script-->
    </div>
  </div>
</main>
<%- include("./partials/createEventModal.ejs") %>
<script src="/js/userEvents.js"></script>
<%}%>
