<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%> <%-
include("./partials/signinRedirect.ejs")%> <% } else { %>
<main class="main-container">
  <div class="calendarMonth-container">
    <i class="fa-solid fa-caret-left changeDateButton" id="scaleDownMonth"></i>
    <h2 class="calendarMonth-title"></h2>
    <i class="fa-solid fa-caret-right changeDateButton" id="scaleUpMonth"></i>
  </div>

  <div class="calendarContent-container">
    <div class="calendarContent-header">
      <div class="calendarContent-header-item">Monday</div>
      <div class="calendarContent-header-item">Tuesday</div>
      <div class="calendarContent-header-item">Wednesday</div>
      <div class="calendarContent-header-item">Thursday</div>
      <div class="calendarContent-header-item">Friday</div>
      <div class="calendarContent-header-item">Saturday</div>
      <div class="calendarContent-header-item">Sunday</div>
    </div>
    <div class="calendarContent-body">
      <!-- For loop renders date. If 1st is not monday and so on, include dates from last month to fill-->
    </div>
  </div>
</main>
<%- include("./partials/createEventModal.ejs") %>
<script src="/js/userEvents.js"></script>
<%}%>
