<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
<a href="/login">Log in please</a>
<% } else { %>
<body>
<div class="userpage">
  <div class="user-settings-title">
    <h1 class="user-settings-title">Your Profile</h1>
  </div>
  <div class="user-information">
    <div class="first-row">
      <div class="profile-pic">
        <img id="profilepic" src="/img/70WoJVY.jpeg" alt="profilepic" />
      </div>
      <div class="user-info-form">
        <form>
          <label for="change-username">Change username:</label>
          <input
            type="text"
            id="change-username"
            name="change-username"
            placeholder="New username"
          />
          <label for="change-email">Change email:</label>
          <input
            type="text"
            id="change-email"
            name="change-email"
            placeholder="New email"
          />
          <label for="change-password">Change password:</label>
          <input type="text" id="change-password" " name="change-password"
          placeholder="New password">
          <button class="button-submit" type="submit">submit</button>
        </form>
      </div>
    </div>
    <div class="row2">
      <div class="bio">
        <h2>Bio</h2>
        <p>Write a little about yourself</p>
        <form>
          <textarea
            name="bio"
            id="bio"
            cols="50"
            rows="10"
            maxlength="300"
            placeholder="i love..."
          ></textarea>
        </form>
      </div>
      <div class="user-activity-list">
        <h2>Your activity</h2>
        <ul class="list-activity">
          <li>Joined: 01-01-2021</li>
          <li>Posts: 5</li>
          <li>Comments: 10</li>
        </ul>
      </div>
      <div class="occupation-div">
        <h2>Occupation</h2>

        <form>
          <select name="occupation" id="occupation">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="unemployed">Unemployed</option>
            <option value="other">Other</option>
          </select>
        </form>
      </div>
    </div>
   
  </div>
  <div class="row3">
    <div class="delete-account">
      <h2>Delete</h2>
      <p>
        Are you sure you want to delete your account? If you delete your
        account you will lose definitive access to it with no way of recovery.
        Your personal data will be erased and lost as well as any ongoing
        events.
      </p>
      <form id="delete-account-form">
        <input type="checkbox" id="delete-account" name="delete-account" />
        <label for="delete-account">I understand and want to delete my account</label>
      <button class="button-delete" type="submit">Delete account</button>
      </form>
    </div>
  </div>
  <% }%>
</div>
<script>
  document.getElementById("delete-account-form").addEventListener('submit',function(event){
    event.preventDefault();
    if (document.getElementById('delete-account').checked){
      fetch('/user/delete-profile', {
        method: 'DELETE',
        })
        .then((response) => response.text())
        .then(data => 
          console.log(data))
  }
  });
</script>
</body>