/* TODO Skal testes i forhold til flere grupper - Er ikke helt sikker på hvordan det vil se ud ift wrap og spacing*/


.groups-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    /*justify-content: space-evenly;*/
}

.group-anchor{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
}

.group-div{
    height: 200px;
    border-bottom: 2px solid black; 
    border-right: 2px solid black; 
    width: 25vw;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100% );
}


.group-anchor-div{
    height: 100%;
    width: 100%;
}
