.homepage {
  display: flex;
  height: calc(100vh - 88px);
}

.homepage-groups-container {
  width: 360px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.homepage-group {
  width: 95%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 12px;
  transition: all 0.05;
}

.homepage-group:hover {
    background-color: rgb(200, 200, 200);
}


.homepage-group-image-container {
  height: 100%;
  width: 80px;
  background-color: black;
  margin-right: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-group-image {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.homepage-group-info {
  flex: 1;
}

.homepage-group-name {
  font-weight: 600;
  margin: 10px 0 5px 0;
  color: black;
}

.homepage-group-message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(99, 99, 99);
  font-size: 14px;
}

.homepage-events-container {
  background-color: blue;
  height: 100%;
  flex: 1;
}

.homepage-discover-container {
  height: 100%;
  background-color: orange;
  width: 300px;
}
