/* TODO CSS & HTML er et rod, skal ryddes op :) */

.interestsPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 88px);
  justify-content: center;
  align-items: center;
}



.interestsPageContent {
  display: flex;
  gap: 20px;
}
.interestsPageLeft {
  display: flex;
  flex-direction: column;
  position: relative;
}

.interestsSearch {
  width: 100%;
  margin-bottom: 56px;
}

.interestsSearch input {
  width: 95%;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 0;
}

.interestsSearch input:focus {
  outline: none;
}

.interestsContainer {
  align-items: flex-start;
  height: 300px;
  display: flex;
  width: 500px;
  overflow-y: auto;
  border: 2px solid black;
  padding: 8px;
}

.interestsPageTitleLeft {
  position: absolute;
  height: 48px;
  left: 0;
  right: 0;
  top: 44px;
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.interestsContainerWrapper {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}



.specificInterest {
  padding: 4px 8px;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.specificInterest:hover {
  color: white;
  background-color: black;
}

.specificInterestCheckbox:not(:checked),
.specificInterestCheckbox:checked {
  position: absolute;
  width: 100px;
  left: -99999%;
}

.selected {
  color: white;
  background-color: black;
}

.interestsSaveButton {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 0;
  bottom: -35px;
  border: 2px solid black;
  background-color: rgb(4, 133, 4);
  font-weight: 600;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

.interestsSaveButton:hover {
  background-color: rgb(5, 119, 5);
}

.interestsPageRight {
  position: relative;
  display: flex;
  align-items: flex-start;


  height: 300px;
  width: 300px;

  margin-top: 91.6px;
  border: 2px solid black;
  padding: 8px;
  
  overflow-y: auto;
}

.interestsPageTitleRight {
  position: absolute;
  width: 303.5px;
  padding: 0 8px 0 8px;
  

  height: 48px;
  left: 539.5px;
  top: 44px;
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.interestsPageRightWrapper {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.specificSelectedInterest {
  padding: 4px 8px;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.specificSelectedInterest:hover {
  border: 2px solid red;
  cursor: pointer;
}
