.interestsPage {
    display: flex;
    width: 100vw;
    height: calc(100vh - 88px);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.interestsPageLeft {
    display: flex;
    flex-direction: column;

}

.interestsContainer {
    height: 300px;
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
    width: 500px;
    border: 2px solid black;
    padding: 8px 16px;
}

.specificInterest {
    padding: 4px 8px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.specificInterest:hover {
    color: white;
    background-color: black;
}

.interestsSearch {
    width: 100%;
    margin-bottom: 15px;
}

.interestsSearch input {
    width: 90%;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.interestsSearch input:focus {
    outline: none;
}

.interestsPageRight {
    align-items: flex-start;
    height: 300px;
    display: flex;
    width: 200px;
    margin-top: 44.6px;
}

.interestsPageRightWrapper {
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    gap: 12px;

}

.specificSelectedInterest {
    padding: 6px 12px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.specificSelectedInterest:hover {
    border: 2px solid red;
    cursor: pointer;
}

.selected {
    color: white;
    background-color: black;
}
