form{
    border: 4px red
}
.login-input{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 10px;
}
.login-button{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login-button:hover{
    opacity: 0.8;
}
.login-container {
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 10px;
  }

  #login-username {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }
  




