form{
    border: 4px red
}
input[type=text], input[type=email], input[type=password]{
width: 100%;
padding: 12px 20px;
margin:  6px;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
button{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}
.register-container {
    width: 400px;
    border: 2px solid black;
    padding: 17px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 20px;
  }

  a:link
{
    color:#FFFFFF;
}

  
