.users {
  display: flex;
  gap: 16px;
}

.user {
  display: flex;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.user > div:not(.userName) {
  color: rgb(100, 100, 100);
}

.userName {
  font-weight: 600;
}
.user-page{
  width: 100%;
  background-color: red;
}
.user-page{
  width: 100%;
  background-color: red;
}

.profile-picture {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}
.profile-picture-picture {
  border-radius: 50%;
}
.user-page-upper {
  display: flex;
  background-color: #ccc;
  height: 420px;
  margin-bottom: 15px;
}

.profile-bio {
  margin: 0px 0px 0px 50px;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.input-profile-bio {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  height: 200px;
  padding: 3px;
}
.submit-bio-button {
  width: 100%;
  display: flex;
  background-color: green;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
}
.submit-bio-button:hover {
  opacity: 0.8;
}
.profile-bio-title {
  margin-left: 5px;
  display: flex;
}
.profile-information {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 50px;
  padding: 3px;
  border: 2px solid black;
}
.profile-information-title {
  display: flex;
  margin-bottom: 10px;
  align-self: center;
  font-size: large;
}
.profile-information-content-item-content {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.profile-interests-container{
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 10px;
  border: 2px solid black;
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
}

.profile-interests{
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 10px;
}
.profile-interests-container-title{
  margin-bottom: 5px;
  display: flex;
  font-size: large;
}
.change-interests-anchor{
  color: black;
  text-decoration: none;
  display: flex;
}
.change-interests-anchor:hover{
  cursor: pointer;
  color: blue;
}
.profile-groups-container-title{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  font-size: large;
}
.profile-groups-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
}
.profile-groups{
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 10px;
}
.profile-events-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
}
.profile-events{
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 10px;
}
.user-page-lower{
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  height: fit-content;
  margin-bottom: 15px;
}
.profile-interests-all{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: auto;
}
.profile-groups-all{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: auto
}
.profile-events-all{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

.modal {
  display: none;
  width: 700px;
  height: 600px;
  overflow: auto;
  background-color: rgb(174, 174, 174);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;

}

.model-content {
  background-color: #b6b6b681;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #b0b0b0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.close-mark:hover {
  cursor: pointer;
}
.close-container {
  margin-top: 5px;
  display: flex;
  width: 690px;
  justify-content: space-between;
}
.change-picture-button {
  width: 50%;
  display: flex;
  background-color: green;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  margin-top: 20px;
  margin-left: 70px;
}
.change-picture-button:hover {
  opacity: 0.8;
}
.modal-inner{
  display: flex;
  justify-content: center;
 
}
.modal-picture-current{
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}
.modal-inner-options{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 100px;
}

.picture1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
.picture1:hover{
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(106, 136, 147, 0.979);
}
.picture2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
.picture2:hover{
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}
.picture3{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
.picture3:hover{
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}