.events-container {
  display: flex;
  flex-wrap: wrap;
}

.event-div {
  position: relative;
  height: 135px;
  width: 300px;
  background-color: lightgray;
  border-radius: 15px;
  margin: 10px;
  padding: 12px;
  transition: all 0.05s; 
}

.event-div:hover{
    cursor: pointer;
    background-color:  rgb(178, 178, 178);
}

.event-name {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-bottom: 6px;
}

.events-title {
  padding: 10px;
  margin: 0px;
}

.event-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  color: black;
}

.event-date {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
  color: rgb(98, 98, 98);
}

.event-address{
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: 12px;
    color: rgb(98, 98, 98);
}

.eventInfo-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: black;
  outline: #000 medium solid;
}

.event2-title {
  
  margin: 0px;
  font-size: 20px;
  color: black;
}
.eventInfo-description{
  margin-bottom: 6px;  
  outline: medium;
  outline-color: rgb(0, 0, 0);
  outline-width: 2px;
}
#event-text{
  margin-bottom: 6px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.event-leave-button{
  margin-top: 20px;
}
.eventInfo-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: black;
  outline: #000 medium solid;
}
.eventInfo-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  border-style: small #000;
  border-width: 2px;
}
.list-of-attendees{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: black;
  outline: #000 medium dashed;
  list-style-type: circle;
}
.attendee{
  font-size: 125%;
  list-style-image: linear-gradient(to left bottom, red, blue);
  margin-left : 20px;
  margin-bottom: 20px;
  
  
  font-weight: lighter;
}
.button-leave-event{
  margin-top: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.05s;
  
}
.button-leave-event:hover{
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}