.main-container {
  display: flex;
  flex-direction: column;
}

/* Month title content*/
.calendarMonth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  background-color: gray;
}

.calendarMonth-title {
  margin: 0 8px 0 8px;
  font-weight: bold;
}

.changeDateButton {
  font-size: 1.5em;
  cursor: pointer;
}
.changeDateButton:hover {
  transform: scale(1.2);
}


/* Calendar content */
.calendarContent-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-count: 7;

  width: 100%;
  height: fit-content;

}

.calendarContent-header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: gray;
  font-weight: bold;
}

.calendarContent-header-item {
  width: calc(100% / 7);
  text-align: center;
}


