.user-page-upper {
  display: flex;
  gap: 24px;
  padding: 0 8px 0 8px;
}

.profile-welcome-title {
  padding: 10px 0 0px 0;
  text-align: center;
  font-style: oblique;
}

.profile-picture {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 100%;
}

.profile-picture-picture {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.profile-bio {
  margin-right: auto;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-profile-bio {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  height: 300px;
  background-color: rgb(233, 233, 233);
  padding: 3px;
}

.submit-bio-button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 3px;
  border: none;
}

.submit-bio-button:hover {
  opacity: 0.8;
}

.profile-bio-title {
  font-size: large;
  margin-bottom: 3px;
}

.profile-information-form {
  border-radius: 10px;
  flex: 2;
  border: 2px solid black;
  padding: 10px 10px;
  background-color: rgb(233, 233, 233);
}

.profile-information-columns {
  display: flex;
  gap: 12px;
}

.profile-information-column {
  display: inline-block;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px 10px;
  flex: 1;
}

.profile-information-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: large;
}

.profile-information-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
}

.profile-information-input::placeholder {
  color: black;
}

.submit-information-button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 3px;
  border: none;
  margin-top: 5px;
  height: 35px;
  cursor: pointer;
}

.submit-information-button:hover {
  opacity: 0.8;
}

.profile-information-content-item-icon-container {
  position: relative;
}

.profile-information-content-item-icon-container i {
  position: absolute;
  right: 0px;
}

.profile-edit-icon {
  padding: 20px;
  color: black;
  text-align: center;
}

.modal {
  display: none;
  width: 500px;
  height: 500px;
  overflow: auto;
  background-color: rgb(174, 174, 174);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.model-content {
  background-color: #b6b6b681;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #b0b0b0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.close-mark:hover {
  cursor: pointer;
}
.close-container {
  margin-top: 5px;
  display: flex;
  width: 490px;
  justify-content: space-between;
}
